<div class="col-md-5 no-padding lib-item" data-category="view" ng-form="imageListItemCtrl.form">
    <div class="lib-panel">
        <div class="row box-shadow" 
             chip-drop 
             chips="imageListItemCtrl.Asset.Tags"
             currently-dragged-chip="imageListItemCtrl.imageList.draggedTag"
             chip-added="imageListItemCtrl.TagAdded($chip)">
            <div name="imageFile" class="col-md-6 drop-box" role="button"
                 ng-model="imageListItemCtrl.imageFile"
                 ngf-select
                 ngf-drop
                 ngf-change="imageListItemCtrl.Upload($file)"
                 ngf-drag-over-class="'dropHover'"
                 ngf-multiple="false"
                 accept="image/*"
                 ngf-pattern="'image/*'"
                 ngf-max-size="{{imageListItemCtrl.maxFileSize}}"
                 ngf-max-height="{{imageListItemCtrl.maxImageHeight}}"
                 ngf-max-width="{{imageListItemCtrl.maxImageWidth}}">
                <div ng-if="imageListItemCtrl.imageFile">
                    <img class="lib-img-show" ngf-src="imageListItemCtrl.imageFile">
                </div>
                <div ng-if="!imageListItemCtrl.imageFile && imageListItemCtrl.Asset.SourceUrl">
                    <img class="lib-img-show" ng-src="{{imageListItemCtrl.Asset.SourceUrl}}">
                </div>
                <div ng-if="!imageListItemCtrl.imageFile && !imageListItemCtrl.Asset.SourceUrl">
                    <img class="lib-img-show" src="/Content/images/default.png">
                </div>
            </div>
            <div class="col-md-6 lib-text">
                <div class="lib-row lib-header"
                     contenteditable="true"
                     ng-model-options="{ updateOn: 'default', debounce: 200 }"
                     ng-model="imageListItemCtrl.Asset.Name"></div>
                <div class="lib-row lib-header-seperator">
                </div>
                <div class="lib-row lib-desc"
                      contenteditable="true"
                          ng-model-options="{ updateOn: 'default', debounce: 200 }"
                          ng-model="imageListItemCtrl.Asset.Description">
                </div>
                    <div style="width:70px;height:50px;float:right"></div>
                <div class="lib-row lib-header-seperator">
                </div>

                <div class="item-content-block tags">
                    <div draggable='true'
                         ng-repeat="chip in imageListItemCtrl.Asset.Tags"
                         id='chip-{{chip.Id}}' class='tag' data-drag='true'>
                        <span>{{chip.Name}}</span>
                        <span class="fa fa-remove text-danger" ng-click="imageListItemCtrl.RemoveTag(chip)" role="button"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>




            </div>
            <div class="lib-row lib-action" role="toolbar">      
                <span ng-click="imageListItemCtrl.Delete()" class="lib-delete fa fa-trash fa-2x"></span>
                <span ng-click="imageListItemCtrl.View()" class="lib-expand fa fa-expand fa-2x"></span>
                <span uib-popover-template="imageListItemCtrl.popoverTemplate" class="lib-share fa fa-share-alt fa-2x"></span>

                <script type="text/ng-template" id="sharePopoverTemplate.html">
                    <div class="form-group">
                        <input type="text" readonly width="100" ng-value="imageListItemCtrl.Asset.SourceUrl" class="form-control">
                    </div>
                </script>
            </div>
        </div>
        <div class="lib-error-container">
            <div class="lib-error animate-if" ng-if="imageListItemCtrl.form.$invalid && imageListItemCtrl.form.$dirty">
                <ul>
                    <li ng-if="imageListItemCtrl.form.imageFile.$error.maxSize">
                        Image file size is too large. Must be less then {{imageListItemCtrl.maxFileSize}}.
                    </li>
                    <li ng-if="imageListItemCtrl.form.imageFile.$error.pattern">
                        Invalid file type
                    </li>
                    <li ng-if="imageListItemCtrl.form.imageFile.$error.maxHeight || imageListItemCtrl.form.imageFile.$error.maxWidth">
                        Image dimensions are too large. Must be less then {{imageListItemCtrl.maxImageWidth}}px x {{imageListItemCtrl.maxImageHeight}}px
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>