@import (once) "../Bootstrap.less";

.lib-panel {
    margin: 20Px 20px 0 20px;

    img {
        width: 100%;
        background-color: transparent;
    }
    .row,
    .col-md-6 {
        padding: 0;
        background-color: #FFFFFF;
        position:relative;
        min-height: 100px;
    }
    .lib-text{
        height:100%;
    }

    .lib-row {
        padding: 0 20px 0 20px;

        &.lib-header {
            background-color: #FFFFFF;
            font-size: 20px;
            padding: 10px 20px 0 20px;
        }

        &.lib-header .lib-header-seperator {
            height: 2px;
            width: 26px;
            background-color: #d9d9d9;
            margin: 7px 0 7px 0;
        }

        &.lib-desc {
            position: relative;
            height: 100%;
            display: block;
            font-size: 13px;
        }
        &.lib-desc a{
            position: absolute;
            width: 100%;
            bottom: 10px;
            left: 20px;
        }
        &.lib-action{
            height:60px;
            position:absolute;
            bottom:0px;
            left:0px
            width:100%;

            .lib-share{
                &:hover {
                    color: #999999;
                }
            }

            .lib-delete{
                &:hover {
                    color: @brand-danger;
                }
            }
        }
    }
}
